<div class="frame">
    <h2>form by template</h2>
    <form (ngSubmit)="submit(userForm.value)" #userForm="ngForm">
        <div>
            <label>id</label><input name="id" disabled [(ngModel)]="user.id">
        </div>

        <div>
            <label>email</label><input name="email" [(ngModel)]="user.email" required email minlength="5"
                #emailCtrl="ngModel">
            <div *ngIf="emailCtrl.hasError('required')">email is required</div>

        </div>

        <div>
            <label>password</label><input type="password" name="password" [(ngModel)]="user.password">
        </div>

        <div>
            <label>organisation</label><input name="organisation" [(ngModel)]="user.organisation">
        </div>

        <div>
            <label>isAdmin</label><input type="checkbox" name="isAdmin" [(ngModel)]="user.isAdmin">
        </div>

        <button type="reset">reset</button>
        <button [disabled]="userForm.invalid" type="submit">Register</button>

        <pre>
            {{user | json}}
        </pre>
    </form>
</div>