<app-user-form-by-template></app-user-form-by-template>
<app-user-form-by-code></app-user-form-by-code>

<!-- <div *ngFor="let user of users">
    <app-user (select)="currentUser = $event" [user]="user"></app-user>
</div> -->

<form #filterForm="ngForm">
    <input placeholder="email filter" type="text" name="filtername" ngModel #filteremail>
    <button type="submit">filter</button>
</form>


<!-- <div *ngFor="let user of (users | async | filterByEmail:filterForm.value.filtername)"> -->
<div *ngFor="let user of (users | async | filterByEmail:filteremail.value)">
    <app-user (select)="currentUser = $event" [user]="user"></app-user>
</div>


<pre *ngIf="currentUser">
current selected user: {{currentUser.email}}
<!--     
    {{currentUser | json}}
 -->
</pre>