<!-- 
    <app-user-form-by-template></app-user-form-by-template>
-->
<app-user-form-by-code (inputsubmit)="usersService.addUser($event); "></app-user-form-by-code>

<!-- <div *ngFor="let user of users">
    <app-user (select)="currentUser = $event" [user]="user"></app-user>
</div> -->

<!-- <form #filterForm="ngForm">

</form> -->

<!-- <input placeholder="email filter" type="text" name="filtername" #filteremail> -->
<!-- <button (click)="1==1" type="submit">filter</button> -->

<!-- <div *ngFor="let user of (users | async | filterByEmail:filterForm.value.filtername)"> -->
<!-- 
    
<div *ngFor="let user of (usersService.users | async)">
    <app-user (select)="currentUser = $event" [user]="user"></app-user>
</div>

-->
<div *ngFor="let user of usersbyResolver">
    <app-user (select)="showDetails($event)" [user]="user"></app-user>
</div>

<router-outlet></router-outlet>


<pre *ngIf="currentUser">
current selected user:{{currentUser.id}}  {{currentUser.email}}
<!--     
    {{currentUser | json}}
 -->
</pre>